<aside class="yaybar yay-shrink yay-hide-to-small yay-gestures">
  <div class="top">
    <div>
      <!-- Sidebar toggle -->
      <a href="#" class="yay-toggle">
        <div class="burg1"></div>
        <div class="burg2"></div>
        <div class="burg3"></div>
      </a>
      <!-- Sidebar toggle -->
      <!-- Logo -->
      <a href="#!" class="brand-logo">
      <img src="assets/_con/images/logo-white.png" alt="Con">
      </a>
      <!-- /Logo -->
    </div>
  </div>
  <div class="nano">
    <div class="nano-content">
      <ul>
        <li class="yay-user-info">
          <a href="page-profile.html">
            <img src="assets/_con/images/user.jpg" alt="" class="circle">
            <h3 class="yay-user-info-name">John Doe</h3>
          </a>
        </li>
        <li class="label">Menu</li>
      </ul>
    </div>
  </div>
</aside>