<nav class="navbar-top">
  <div class="nav-wrapper">
    <!-- Sidebar toggle -->
    <a href="#" class="yay-toggle">
      <div class="burg1"></div>
      <div class="burg2"></div>
      <div class="burg3"></div>
    </a>
    <!-- Sidebar toggle -->
    <!-- Logo -->
    <a href="/" class="brand-logo">
    <span>Internet of Things Software</span>
    </a>
    <!-- /Logo -->
    <!-- Menu -->
    {% if user.is_authenticated %}
    <ul>
      <li>
        <a href="#!" class="search-bar-toggle">
        <i class="mdi-action-search"></i>
        </a>
      </li>
      <li class="user">
        <a class="dropdown-button" data-activates="user-dropdown" href="#!">
        {{user.get_username}} <i class="mdi-navigation-expand-more right"></i>
        </a>
        <ul id="user-dropdown" class="dropdown-content">
          <li>
            <a href="page-profile.html">
            <i class="fa fa-user"></i> Profile
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="page-sign-in.html">
            <i class="fa fa-sign-out"></i> Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
    {% endif %}
    <!-- /Menu -->
  </div>
</nav>
